main .contenedor-trabajos {
	margin-top: 100px;
	margin-bottom: 100px;
	.titulo {
		font-weight: 500;
		text-align: center;
		font-size: 32px;
		// margin-bottom: 100px;
		&::after {
			display: block;
			clear: both;
			content: '';
			position: relative;
			left: 0;
			bottom: -10px;
			max-width: 250px;
			height: 3px;
			width: 125px;
			background: linear-gradient(-45deg, $turquesa, $celeste);
			margin: 0 auto;
			padding: 0;
		}
	}

	.mis-trabajos {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 30px;
		img {
			width: 100%;
			height: auto;
			opacity: 0.8;
			border: 3px solid transparent;
			&:hover {
				transition: ease 0.5s;
				cursor: pointer;
				border: 3px solid rgba($color: $blanco, $alpha: 0.7);
				opacity: 1;
				transform: scale(1.1);
			}
		}
	}
}
